@font-face {
    font-family: toyota_bold;
    src: url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay_bd-webfont.eot);
    src: url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay_bd-webfont#iefix) format("embedded-opentype"), url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay_bd-webfont.woff2) format("woff2"), url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay_bd-webfont.woff) format("woff"), url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay_bd-webfont.ttf) format("truetype"), url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay_bd-webfont.svg#toyota_bold) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: toyota_regular;
    src: url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay_rg-webfont.eot);
    src: url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay_rg-webfont#iefix) format("embedded-opentype"), url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay_rg-webfont.woff2) format("woff2"), url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay_rg-webfont.woff) format("woff"), url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay_rg-webfont.ttf) format("truetype"), url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay_rg-webfont.svg#toyota_bold) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: toyota_heavy;
    src: url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay-heavy-webfont.eot);
    src: url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay-heavy-webfont#iefix) format("embedded-opentype"), url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay-heavy-webfont.woff2) format("woff2"), url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay-heavy-webfont.woff) format("woff"), url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay-heavy-webfont.ttf) format("truetype"), url(https://s0.2mdn.net/creatives/assets/2532951/toyotadisplay-heavy-webfont.svg#toyota_bold) format("svg");
    font-weight: 400;
    font-style: normal
}

body,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased
}

body {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #000;
}

a img {
    border: 0
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0
}

h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    font-size: 18px;
    line-height: 15px
}

#img--bg01, #img--bg02 {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: 0
}

#logo--toyota {
    width: 51px;
    top: -91px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.11);
}

#logo--hybrid,
#logo--toyota {
    position: absolute;
    z-index: 1;
    right: 12px;
    margin-top: -1px;
}

#logo--hybrid {
    width: 53px;
    bottom: 12px;
    opacity: 0
}

#highlight-1,
#highlight-2 {
  opacity: 0;
  position: absolute;
  z-index: 0;
}

.frame {
    font-family: toyota_regular, Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #000;
    opacity: 0;
    max-width: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left
}

.text-block {
    position: absolute;
    top: 175px;
    left: 15px;
}

#frame--finance .text-block {
    top: 5px;
}

#frame--cta .text-block {
    max-width: 200px;
}

#text-1,
#text-2,
#text-3,
#text-4 {
   position: relative;
    top: 179px;
    left: 15px; 
}

.font--bold {
    font-family: toyota_bold, Arial, Helvetica Neue, Helvetica, sans-serif;
}

.cta--red {
    font-family: toyota_bold, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-transform: uppercase;
}

.cta--red img {
  position: relative;
  top: 1px;
  margin-left: 5px;
}

#finance-table {
    margin-top: 0;
}

.text {
    line-height: 1
}

.text--large {
    font-size: 25px
}

.text--small {
  font-size: 11px;
  text-transform: uppercase;
}

.text--smallest {
    font-size: 9px;
    text-transform: uppercase;
}

.text--terms {
    font-size: 8px
}

.text--regular {
    font-family: toyota_regular, Arial, Helvetica Neue, Helvetica, sans-serif
}

.text--bold {
    font-family: toyota_bold, Arial, Helvetica Neue, Helvetica, sans-serif
}

.terms {
    font-family: toyota_regular, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 8px;
    line-height: 1;
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: #fff;
}

.underline--blk {
  border-bottom: 1px solid #000;
}

.underline--blue {
  border-bottom: 2px solid #2d78d2;
}

.inline-block {
    display: inline-block;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#arrow img {
  animation: blink 1s;
  animation-iteration-count: infinite;
}

.nudgeLeft {
  transform: translate(-10px, 0px) rotate(0.001deg);
  -webkit-transform: translate(-10px, 0px) rotate(0.001deg);
  -ms-transform: translate(-10px, 0px) rotate(0.001deg);
  -moz-transform: translate(-10px, 0px) rotate(0.001deg);
}

.transition-2 {
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}